<ul class="nav flex-column" th:fragment="sideNav" xmlns:th="http://www.thymeleaf.org">
		<li class="nav-item"><a class="nav-link active"
			th:href="@{/admin/home}">Dashboard</a></li>
		<li class="nav-item"><a class="nav-link"
			href="">Add User</a></li>
			<li class="nav-item"><a class="nav-link"
			href="">All Users</a></li>
			<li class="nav-item"><a class="nav-link"
			href="">Roles</a></li>
		<li class="nav-item"><a class="nav-link"
			th:href="@{/admin/categories/createCategory}">Add Category</a></li>
		<li class="nav-item"><a class="nav-link"
			th:href="@{/admin/categories/categoryList}">All Categories</a></li>
			<li class="nav-item"><a class="nav-link"
			th:href="@{/admin/posts/createPost}">Add Post</a></li>
			<li class="nav-item"><a class="nav-link"
			th:href="@{/admin/posts}">All Posts</a></li>
			<li class="nav-item"><a class="nav-link"
			th:href="@{/admin/topics/createTopic}">Add Topic</a></li>
		<li class="nav-item"><a class="nav-link"
			th:href="@{/admin/topics}">All Topics</a></li>
	</ul>
