<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Sign Up</title>
</head>
<body>
<form role="form" th:action="@{/sign-up}" th:method="post" th:object="${user}">
    <label>Name</label>
    <input type="text" id="name"  th:field="*{firstName}">

     <label>Last Name</label>
    <input type="text" id="surname"  th:field="*{lastName}">

      <label>EMail</label>
    <input type="text" id="email"  th:field="*{email}">

      <label>Password</label>
    <input type="password" id="password"  th:field="*{password}">

    <input type="submit">
</form>
</body>
</html>