<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
<meta charset="ISO-8859-1">
<title>Products</title>
</head>
<body>
	
		<div class="col-md-4" th:each="product : ${products}" th:fragment="product">
			<div class="card" style="width: 18rem;">
			<img src="..." class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title" th:text="${product.productName}"></h5>
					<p class="card-text" th:text="${product.productDescription}"></p>
					<a href="#" class="btn btn-primary">Add to Cart</a>
				</div>
			</div>
		</div>

</body>
</html>